$main-color: #4d626f;

$feedy-red: rgb(241, 52, 52);
$feedy-green: rgb(47, 103, 40);
$feedy-start: rgb(47, 121, 210);
$feedy-standard: rgb(68, 68, 68);

$roxx-standard: rgb(3, 79, 129);
$roxx-alfalfa: rgb(66, 93, 63);
$roxx-super: rgb(77, 98, 111);
